@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-geist-sans: 'Geist Sans', sans-serif;

		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-hovered: 0 0% 98%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 2 100% 39.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--link: 271.5 81.3% 55.9%;

		--topic-fun: 201 96% 32%;
		--topic-improvement: 150 100% 25%;
		--topic-brown-bag: 35 92% 33%;
		--topic-pain-point: 0 72% 51%;
		--topic-new-idea: 262 83% 58%;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-hovered: 240 10% 6.9%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--link: 270 95.2% 75.3%;

		--topic-fun: 199 69% 72%;
		--topic-improvement: 142 77% 73%;
		--topic-brown-bag: 31 86% 60%;
		--topic-pain-point: 0 91% 71%;
		--topic-new-idea: 269 97% 85%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	html {
		@apply scroll-smooth;
		height: 100%;
	}
	body {
		@apply bg-background text-foreground;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
		min-height: 100%;
		overflow-x: hidden;
	}

	::-webkit-scrollbar {
		@apply w-2;
		@apply h-2;
	}

	::-webkit-scrollbar-track {
		@apply !bg-muted;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-sm !bg-muted-foreground/30;
	}

	/* Firefox */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
	html {
		scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
	}

	html.dark {
		scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.container {
	@apply mx-auto max-w-[1400px] px-4 md:px-24;
}

@property --gradient-angle {
	syntax: '<angle>'; /* <- defined as type angle for the transition to work */
	initial-value: 360deg;
	inherits: false;
}

.hero-join-button {
	background: linear-gradient(
		var(--gradient-angle),
		hsla(211, 60%, 48%, 0.7),
		hsla(211, 60%, 48%, 0.3),
		#3178c6,
		hsla(211, 60%, 48%, 0.5)
	);
	animation: gradient-rotate 5s linear infinite reverse;
}

.hero-join-button-dark {
	background: linear-gradient(
		var(--gradient-angle),
		hsla(0, 0%, 100%, 0.5),
		hsla(0, 0%, 100%, 0.1),
		#fff,
		hsla(0, 0%, 100%, 0.3)
	) !important;
	animation: gradient-rotate 5s linear infinite reverse;
}

@keyframes gradient-rotate {
	0% {
		--gradient-angle: 360deg;
	}

	100% {
		--gradient-angle: 0deg;
	}
}

.tiptap-readonly .minimal-tiptap-editor .ProseMirror {
	cursor: inherit;
}

.rainbow-circle {
	@apply h-4 w-4 rounded-full;
	background: conic-gradient(
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet,
		red
	);
}

[data-rmiz-modal-overlay='visible'] {
	@apply !bg-background;
}

.react-tweet-theme {
	margin: 0 !important;
}

pre.block-node {
	@apply max-h-full max-w-full overflow-auto sm:max-h-[300px] sm:min-h-[200px] sm:max-w-[580px];
}
